# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
*.orig.*

# env
.env
.env.local

# native
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDE
.idea/
*.tsbuildinfo

# backups
App.js.bak
